.container {
  padding: 20px;
}

.row {
  display: flex;
}

.col-image {
  width: 50%;
}

.col-info {
  width: 50%;
}

// --------------------------------- Flip image

.flip-box {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.2s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(360deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
