<div class="container">
  <div class="row">
    <div class="col-image">
      <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <img src="{{ selectedCoin?.image?.large }}" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-info">
      <h1>{{ selectedCoin?.name }}</h1>

      <p>
        Rank: <span>{{ selectedCoin?.coingecko_rank }}</span>
      </p>
      <p>
        Current Price:
        <span>{{
          selectedCoin?.market_data.current_price.eur | currency: "EUR"
        }}</span>
      </p>
      <p>
        24H High:
        <span>{{
          selectedCoin?.market_data.high_24h.eur | currency: "EUR"
        }}</span>
      </p>
      <p>
        24H Low:
        <span>{{
          selectedCoin?.market_data.low_24h.eur | currency: "EUR"
        }}</span>
      </p>
      <p>
        Market Cap:
        <span>{{
          selectedCoin?.market_data.market_cap.eur | currency: "EUR"
        }}</span>
      </p>
      <p>
        Market Cap Rank: <span>{{ selectedCoin?.market_cap_rank }}</span>
      </p>
      <p>
        Max Supply:
        <span>{{ selectedCoin?.market_data.total_supply }}</span>
      </p>
    </div>
  </div>
  <div class="row">
    <p innerHtml="{{ selectedCoin?.description?.en }}"></p>
  </div>
</div>
