$white-text: hsl(0, 0%, 100%);
$dark-background: hsl(0, 2%, 12%);
$orange-text: hsl(16, 80%, 50%);
$green-positive: hsl(120, 100%, 25%);
$red-negative: hsl(0, 100%, 50%);
$indigo-banner: hsl(275, 100%, 25%);
$green-anchor: hsl(90, 50%, 50%);
$green-anchor-hover: hsl(90, 100%, 50%);
