@import "../../../styles/shared/colors";

.mat-toolbar {
  display: flex;
  flex-direction: row;
  background-color: $indigo-banner;
  height: 100px;
}

.example-spacer {
  flex: 1 1 auto;
}

a {
  cursor: pointer;
  color: $white-text;
  text-decoration: none;
  font-size: 30px;
}
span {
  color: $white-text;
}

@media screen and (max-width: 768px) {
  .mat-toolbar {
    flex-direction: column;
    padding: 20px;
  }
  .date {
    font-size: 16px;
  }
}
