<section>
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Mia"
      #input
    />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- coin image + name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row" class="img-column">
          <img src="{{ row.image }}" alt="" />
          <span>{{ row.name }}</span>
        </td>
      </ng-container>

      <!-- current price -->
      <ng-container matColumnDef="current_price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Current Price</th>
        <td mat-cell *matCellDef="let row">
          {{ row.current_price | currency: "EUR" }}
        </td>
      </ng-container>
      <!-- 24h high -->
      <ng-container matColumnDef="high_24h">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="shrink">
          24h High
        </th>
        <td mat-cell *matCellDef="let row" class="shrink">
          {{ row.high_24h | currency: "EUR" }}
        </td>
      </ng-container>
      <!-- 24h low -->
      <ng-container matColumnDef="low_24h">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="shrink">
          24h Low
        </th>
        <td mat-cell *matCellDef="let row" class="shrink">
          {{ row.low_24h | currency: "EUR" }}
        </td>
      </ng-container>

      <!-- price change percentage -->
      <ng-container matColumnDef="price_change_percentage_24h">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          24H Price Change
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          [ngClass]="row.price_change_24h > 0 ? 'positive' : 'negative'"
        >
          {{ row.price_change_24h | currency: "EUR" }}
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="market_cap">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Market Cap</th>
        <td mat-cell *matCellDef="let row">
          {{ row.market_cap | currency: "EUR":"symbol":"1.0-0" }}
        </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="toCoinDetails(row)"
      ></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[10, 20, 50, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</section>
