@import "../../../styles/shared/colors";

section {
  width: 90%;
  margin: 0 auto;
}

::placeholder {
  color: $green-anchor;
  opacity: 1;
}

table {
  width: 100%;
}

mat-form-field {
  font-size: 14px;
  width: 100%;
  color: $white-text;
}

mat-label {
  color: $white-text;
}

td,
th {
  width: 20%;
}

tr {
  cursor: pointer;
}

.img-column {
  display: flex;
  align-items: center;

  img {
    width: 40px;
  }
  span {
    margin-left: 10px;
    width: 60%;
  }
}

.positive {
  color: $green-positive;
}

.negative {
  color: $red-negative;
}

@media screen and (max-width: 991px) {
  .shrink {
    display: none;
  }
}
