@import "../../../styles/shared/colors";

footer {
  background-color: $indigo-banner;
  text-align: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  p {
    color: $white-text;
    margin: 0;
  }
}
